* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Signika Negative', sans-serif;
}

#header, #song-name {
    font-family: 'Signika Negative', sans-serif;
}

#footer {
    height: 60px;
    background-color: #222;
    box-shadow: 0 50vh 0 50vh #222;
}

/* #relatedVidoeDiv {
    font-size: 2em;
    color: #333;
    text-align: center;
}  */

/* body {
    height: 100%;
    background-image: linear-gradient(#4d4d4d, #262626);
    background-attachment: fixed;
    color: white;
    padding: 0%;
    margin: 0%;
}

header {
    padding: 10px;
    background-color: #666666;
    text-align: center;
}

h1 {
    color: white;
}

.inputDiv {
    padding: 10px;
    background-color: #666666;
    text-align: center;
}

#searchButton {
    background-color: #29a329;
    border-style: solid;
    border-color: #29a329;
    margin-top: 5px;
}

.songSuggestion1, .songSuggestion2, .songSuggestion3, .songSuggestion4 {
    text-transform:capitalize;
}

.lyricsTextDiv {
    width: 85%;
    margin: auto;
    background: radial-gradient(#8c8c8c, #666666, #666666);
    padding: 10px;
    margin-top: 25px;
}

#videoDiv {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
} 

/* iframe {
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}  */